<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>


    <h1>Hello my Pal! </h1>
    <p>
      Thank you for visiting <%= @url %>. <br>
    </p>
    <p>
      Attached you will find our 9 tips to better scholarship applications! If you like it, please feel free to share it online! Periodically, we'll send updates and more ideas on how to win these awards! 
    </p>

    <p> <a href="http://www.facebook.com/MarnasPals"> Like us on Facebook! </a> to follow along with what's going on with Marna's Pals. Be sure to tweet #BeAPal when you post to Twitter and tag @MarnasPals. Are you on <a href="http://www.instagram.com.marnaspals"> Instagram? </a> </p>
  </body>
</html>