

<h2> 4th Annual Volleyball Tournament </h2>

<div class="container">
	<div class="wrapper">
		


<div class="item">
            
              <a href="\vball" title="We Spike for Scholarships">
                <img class="img-responsive center-block" src="https://s3.amazonaws.com/marnaspals-dpal/vball2.jpg">
              </a>
           
</div>


</div>
</div>

<hr class="featurette-divider">

<h2> 3rd Annual Gala and Silent Auction </h2>
<br></br>
<div class="container">
	<div class="wrapper">
		


<div class="item">
            
              <a href="\gala" title="Party On, Garth!">
                <img class="img-responsive center-block" src="https://s3.amazonaws.com/marnaspals-dpal/gala.jpg">
              </a>
           
</div>


</div>
</div>

<hr class="featurette-divider">

<h2> The Run For Hope </h2>

<div class="container">
	<div class="wrapper">
		


<div class="item">
            
              <a href="/" target="_blank" title="Run, Forrest, Run!">
                <img class="img-responsive center-block" src="https://s3.amazonaws.com/marnaspals-dpal/runforhope.jpg">
              </a>
           
</div>


</div>
</div>

<hr class="featurette-divider">