<html lang="en">

<div class = "container">
  <br><br></br></br>
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-interval="5000" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner" role="listbox">

        <div class="item active">
          <img class="img-responsive center-block" src="https://s3.amazonaws.com/marnaspals-dpal/marnaVarious 5_edited.JPG" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
                <br></br>
                <br></br>
              <h2>Meet Marna</h2>
              <p>This scholarship is in her honor. </p>
            
              <p><a class="btn btn-md btn-primary" href="\about" role="button">Learn More</a></p>

            </div>
          </div>
        </div>

        <div class="item">
          <img class="img-responsive center-block" src="https://s3.amazonaws.com/marnaspals-dpal/scholars.JPG" title="Second slide">
            <div class="carousel-caption">
              <br></br>
              <br></br>
              
              <h2>We awarded $15,000!</h2>
              <p>Do you want to meet the 15 students that won an award this year? </p>
            
              <p><a class="btn btn-md btn-primary" href="\applyhere" role="button">Meet Them</a></p>
            </div>
  
        </div>
        <div class="item">
          <img class="img-responsive center-block" src="https://s3.amazonaws.com/marnaspals-dpal/LP26.jpg" title="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <br></br>
              <br></br>
             
              <h2>Applying for an award?</h2>
              <p>The applicaiton is open from 1/1 - 3/31.</p>
          
              <p><a class="btn btn-md btn-primary" href="\applyhere" role="button">Apply Now</a></p>

            </div>
          </div>
        </div>
        <div class="item">
          <img class="img-responsive center-block" src="https://s3.amazonaws.com/marnaspals-dpal/vball.jpg" alt="Fourth slide">
          <div class="container">
            <div class="carousel-caption">
              <br></br><br></br>
              <br></br>
              <h2>Spiking for Scholarships</h2>
              <p>Join the largest charity volleyball tournament in Central Jersey. </p>
              <p><a class="btn btn-md btn-primary" href="\events" role="button">Join Now</a></p>
            
            </div>
          </div>
        </div>
      </div>



      <!-- <!-- <!-- <!-- <a class="left carousel-control"href="#myCarousel" role="button" data-slide="prev">

          <!-- <img class = "align-middle" src = "\assets\leftarrow.png"> -->
        
      <!-- </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
     
        
        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>  --> 
    </div><!-- /.carousel -->

</br>
</div>
<div class="wrapper">
<img class="img-responsive center-block" src="https://s3.amazonaws.com/marnaspals-dpal/9tips.jpg" alt="Image for Tips">


<br>


<form class="form-inline" action="/subscribers" class="new_subscriber" id="new_subscriber" method="post">
  <div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="nHHdWoL8aq3/6rHKYiX64uu3tlOBmDTMdsG19dD7t70=" /></div>

  <div class="form-group">
 
    
    <input class="form-control input-lg" id="subscriber_email" name="subscriber[email]" type="email"  placeholder="my.pal@example.com"/>

  <button type="submit" class="btn btn-primary btn-lg" value="Create Subscriber">Send Me Free Tips</button>


</form>
</br>
</div>

   
