
<h1> Check out our awesome Scholars! </h1>

<h5> Every year, Marna's Pals awards scholarships to students whose families have been affected by cancer. These scholars either live in New Jersey or go to school in NJ. Some of these scholars have parents, siblings, or even they themselves have had cancer. Here is a brief introduction to our scholarship recipients from this past year! </h5>
<p class = "wrapper">

        <a class="btn btn-lg btn-primary pull-center" href="donate" role="button">I'd like to help more students like these now!</a></p>

<hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Daniyal Aikal
           <span class="text-danger"> Cell Biology & Neuroscience, Rutgers University </span></h2>
          <p >Daniyal’s mother was diagnosed with breast cancer in 2011 and is still undergoing treatment and is not in stable condition. This diagnosis has forced Daniyal to turn down an academic scholarship to the University of Tampa so that he can stay close to home and help his family. In doing so, Daniyal is paying full tuition at Rutgers and commuting to school everyday. 

		  Despite these challenges, Daniyal works extremely hard, balancing athletics, extra-curriculars, and studying. He is quite impressive. His outlook is summarized well by this excerpt from his essay, “Though life has not been easy, I know my situation could be so much worse. Thus, my goal is to become a doctor and help others when they feel as though adversity has gotten the best of them. Playing rugby at Rutgers while majoring in Honors Cell Biology & Neuroscience will help show me that if I can overcome both mental and physical challenges, then nothing can stand between my goal.” 

		  Daniyal is a very impressive student, and cites David’s perseverance and the Marna Pal Memorial Scholarship as two things that will help him realize his dream. 

		  </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="https://s3.amazonaws.com/marnaspals-dpal/Daniyal Aikal.jpg" alt="Generic placeholder image">
        </div>
      </div>

<hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Rebecca Armand
           <span class="text-danger"> Accounting, Sacred Heart University</span></h2>
          <p >Rebecca’s father was diagnosed with Leukemia when she was 6 years old, after he went to his doctor for what he thought was a cold. It turned out to be much more serious. Rebecca is now entering college at Sacred Heart University studying accounting. Rebecca, a star bowler, was recruited as a D-1 athlete to bowl for the University. Rebecca is also very involved in a number of charities in her community and loves giving back to those in need.

		  “My mother has taught me to be a stronger woman, both physically and mentally, and has shown me how to always look on the brighter side of situations; she has been my rock throughout the whole chemotherapy and surgery process with my father and has truly been the most emotionally stable person in my life since the diagnosis.”  She has been able to maintain her demeanor through high school as her father continues to keep his cancer in remission and succeed in and out of school and we are proud to call her a Pal.



		  </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="https://s3.amazonaws.com/marnaspals-dpal/Rebecca Armand senior pic.jpg" alt="Generic placeholder image">
        </div>
      </div>

<hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Dana Barth
           <span class="text-danger"> Undecided, Camden County Community College </span></h2>
          <p >Dana’s mom was affected by stage four colorectal cancer. Her mom was diagnosed in January 2013 and passed away in October of 2013. While her mom was only sick for 9 months, she will always be affected by the loss of her mother, she said. “My father and my brother are my support network. My father has shaped who I am today by expecting a lot from me. My brother has shaped who I am today by testing my patience,” she explained.

		  In Dana’s essay, she explains what it was like being a teenager with a sick mother. “She was diagnosed in the middle of my junior year and passed away in the beginning of my senior year. That time is meant for having fun with friends, but mine was spent taking care of my mother and spending her last moments with her then stepping up to take care of the house and family the way she did. Not all 17/18/19 year olds grocery shop, cook dinner, clean the house, while still being a full time high school student trying to graduate and get into college. Getting into college was going to be a difficult process for me based on the fact that my junior and senior year grades were not up to par. I put school on the back burner while I focused on taking care and spending time with my mom because I knew she did not have much time left.” 

		  She did not have time for a job when her mom was sick, so she was living off her father’s wage since her mom stopped working when she was diagnosed. “My dad pays for everything I do,” she recalls, “and a lot for what my brother does.” This scholarship helps to take a load off of her family’s financial needs, as she looks to help her dad in any way she can.


		  </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="https://s3.amazonaws.com/marnaspals-dpal/Dana.jpeg" alt="Generic placeholder image">
        </div>
      </div>

<hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Siobhan Brooker
           <span class="text-danger">Marketing and Supply Chain Management, Rutgers University</span></h2>
          <p >Siobhan begins her application by saying that, “my stepfathers long illness and subsequent death, changed my life, and who I am, forever. I went from a spoiled, carefree, teenager, growing up in an affluent family, to a responsible young woman, who had to grow up almost over night, and concentrate on my own on going education.” 
		
		Siobhan’s stepfather was diagnosed with lung cancer while she was in high school, just about the time of college applications. This diagnosis challenged her home emotionally and financially. Before she started college, her stepfather passed away. 

		Despite this tragedy, she is an outstanding student at Rutgers University pursuing a degree in Finance with a double major in Marketing and Supply Chain Management. She plans on pursuing a Master’s degree and looks forward to being able to give back to people who need help.

		  </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="https://s3.amazonaws.com/marnaspals-dpal/Siobhan 2015.jpg" alt="Generic placeholder image">
        </div>
      </div>

<hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Michelle Kotolnick
           <span class="text-danger"> Psychology, Montclair State University</span></h2>
          <p >“Everyone has a unique story to them that defines them in some way. My unique story is that I lost my mother when I was seven and my father when I was thirteen. Now I am eighteen years old living with my older sister, her husband and her two kids. My life has been anything but ordinary; however, that hasn’t stopped me from working hard and accomplishing my goals. All it has done is make it harder but more rewarding. As a teen I have seen many things. I have seen suffering, sadness, tragedy and death, as like many children and adults in this world. I have watched both my parents pass away from cancer.” 

		  Michelle is now starting her college career at Montclair State University. She would like to be a clinical child psychologist for sick children with cancer. She wants to help make their tragic childhood into one that they can never be ashamed of. When many people ask for help, she takes a lot of time to give back to her community and especially those that have been affected by cancer. “Being only eighteen and witnessing so much, I believe that my work ethic and dedication in school instead of breaking down like most people in my situation are big accomplishments that I am proud of.” – We’re very proud of you too, Michelle.


		  </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="https://s3.amazonaws.com/marnaspals-dpal/Michelle Kotolnick.jpg" alt="Generic placeholder image">
        </div>
      </div>

<hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Brandon Latteri
           <span class="text-danger"> Finance, University of Massachusetts </span></h2>
          <p >Brandon’s brother was diagnosed with Leukemia in 2010. Brandon was in 8th grade at the time, and totally changed the life of him and his family. “I rely on my parents for support. My parents are always there for me when I have questions involving my brothers treatment and other issues in my personal life. Due to their stressful schedule regarding doctors visits, outpatient care, and work, I have fended for myself most of the time which has taught me to be an independent person.”
		  
		  Although the Leukemia that made Brandon’s brother so sick had been put into remissions, the cancer has come back multiple times. These multiple diagnoses have left his brother weak and his family still fighting. “As of this year, 2015, my family is still battling cancer. After 5 years of treatment and medical bills and taking time away from work we are farther away from curing him then we were in 2010. Each day that we continue treating this cancer, is another day my parents have to take off from work or spend their paychecks on hospital bills and insurance co-pays. The unexpected hospital trips are also contributing to the mountain of bills the have resulted from this disease.”

		  Brandon is a finance major looking to pursue a job on Wall Street. He volunteers to register bone marrow donors and raises money for Relay for Life as a Team Captain.


		  </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="https://s3.amazonaws.com/marnaspals-dpal/Brandon Latteri.jpeg" alt="Generic placeholder image">
        </div>
      </div>


<hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Gina Lione
           <span class="text-danger">Nursing, Rutgers University</span></h2>
          <p >Gina is a Senior at Rutgers University and follows in her mother’s footsteps by studying nursing. She hopes, one day, to be able to take care of cancer patients in a hospital setting. Gina’s mother passed away when she was just 17 years old, from primary liver cancer.

		  She recalls, “After my mom died of liver cancer 3 years ago, I moved in with close family friends and their four children. These wonderful, caring people have become my family, and they treat me as their own child. I have grown into myself and my confidence has increased exponentially being a part of their family.”
			
		  She goes on to explain how the Marna Pal Memorial Scholarship will help her: “Rutgers University wound up being the best fit for me, and it was conveniently close to where I grew up. It is, however, a struggle to pay for my education on my own, and it is going to be stressful to carry that burden as a new nurse starting out my career. This scholarship will absolutely help to ease that burden so I can focus on doing well academically in the challenging field of nursing.”
		  </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="https://s3.amazonaws.com/marnaspals-dpal/Gina Lione-Napoli.jpg" alt="Generic placeholder image">
        </div>
      </div>

<hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Sarah LoRusso
           <span class="text-danger"> Nursing, New York University</span></h2>
          <p > “August 15, 2011, I clutched my mother's hand feeling the same ardent emotions I experience every time I take a moment to reminisce. "My Sarah, you are going to be just fine," she said as nurturing as she could, despite her terminal illness taking its final course. Life throws unanticipated obstacles in a person's path, and the loss of my mother has left a dent deeper than most, but I rescind from allowing it to become the reason I put a stop to the future I envisioned for myself…My cousin, who was my legal guardian, also began working more hours to ensure that the household remained stable with an added member. I also began to make academically achieving my first priority, so I could receive some academic scholarships. Upon receiving an acceptance to NYU, all of my work seemed to have paid off.” 

          Sarah is pursuing a Nursing degree at NYU so that she can give back to others like those who helped her mom. She is also considering being a part of the Global Public Health Institute to help people around the world. Sarah’s essay explained how she would like to be able to help children in the same situation that she faced. We are proud that Sarah has won this award for the second time. 

		  </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="https://s3.amazonaws.com/marnaspals-dpal/Sarah LoRusso.JPG" alt="Generic placeholder image">
        </div>
      </div>


<hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Syed Ahsan Mahmood
           <span class="text-danger"> Biology, Rutgers University</span></h2>
          <p > “In early January of 2014, after having some unusual symptoms, I consulted with my primary care physician, who subsequently referred me to a urologist. After some blood work and a CT scan, I was diagnosed with a tumor in my left kidney and immediately went through surgery to have the kidney removed. After the biopsy, we received the diagnosis: a rare pediatric cancer; Ewing’s Sarcoma.” Syed has already received 16 of his 17 rounds of chemotherapy and has experienced physical and mental struggles that would challenge any student. Despite these struggles Syed was awestruck and inspired by the other young children fighting cancer in the hospital with him. 

		  His cancer treatments and travel between NYC and NJ have been very expensive and have made it a challenge to afford a college education. Despite these challenges, Syed is excited to pursue a career in biology or computer sciences, but in the end hoping to make somebody’s life a little easier. “I think the greatest lesson that I have learned throughout all of this is that I will find ways to achieve my dreams because I am no longer relying on a bubble, but rather an innate drive that I know will one day propel me toward success.”




		  </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="https://s3.amazonaws.com/marnaspals-dpal/Syed A. Mahmood.jpg" alt="Generic placeholder image">
        </div>
      </div>

<hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Amna Rana
           <span class="text-danger">Biology, Rutgers University</span></h2>
          <p >Amna lost her father to an aggressive form of brain cancer, gliosarcome, only 5 weeks after his diagnosis. Despite a prognosis of about 9 months, the treatment given to Amna’s father was not able to fight off the disease, despite a great outlook and demeanor from her father. It was a whirlwind time and took a very significant toll on her family, financially and emotionally. 

		  Despite these challenges, Amna has continued to shine, balancing work and tutoring with her studies and maintaining a near perfect grade point average. She says that these experiences have shaped her attitude and plans for her career, “My father and mother always dreamed of us as successful, educated, and happy individuals. Our own ambitions and their support have guided us towards education and hard work. As I study for the MCAT now, I aspire to be an oncologist and researcher. Hoping to infuse empathy and skill into the care of individuals out there, I try to excel in my classes, work diligently as an instructor, and reach for my goals. However, with financial constraints, it does become very stressful. This scholarship would allow me a certain amount of relief and would greatly influence my next semester in terms of work load. I would greatly appreciate it if I would be considered for the scholarship. Thank you so much.”


		  </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="https://s3.amazonaws.com/marnaspals-dpal/Amna Rana.jpg" alt="Generic placeholder image">
        </div>
      </div>

<hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Aleks Spirollari
           <span class="text-danger"> Medicine, Rowan School of Osteopathic Medicine</span></h2>
          <p >Aleks is one of the first Marna’s Pals scholars to have beaten cancer themselves. He was diagnosed with Acute Lymphocytic Leukemia in 2004 and took 3 years to complete his treatments to beat cancer, all after moving from Albania with his family. “However, wonderful doctors and medical staff made the difficult experience bearable. For a few years, I felt that the hospital was like a second home and I was comforted to know that such amazing people surrounded me in the facility. My oncologist became a role model to me, given the circumstances; he made sure cancer did not get in the way of me living a normal life.”

		  After the experiences he had while a cancer patient, and now a cancer survivor, Aleks fell in love with patient care and medicine. Aleks is now entering the Rowan School of Osteopathic Medicine to pursue his dreams of becoming a doctor. “With my oncologist as a role model, my ambition to someday become a physician is stronger than ever. I could relate to patients in a way that will allow me to become an admirable physician, just as others have done for me.” Good luck, Aleks!



		  </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="https://s3.amazonaws.com/marnaspals-dpal/Aleks Spirollari.jpg" alt="Generic placeholder image">
        </div>
      </div>

      
      
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Jessica Tynon
           <span class="text-danger"> Elementary Education and Psychology, Rider University</span></h2>
          <p >Jessica’s mother has successfully beaten cancer twice and inspires Jessica every day. The financial burden of her mother’s cancer and her father’s health issues have challenged her family to afford college. Jessica is a student at Rider University studying Elementary Education and Psychology. Also, she is a member of a sorority and performs community service for her local community. 

		  “My goal for my future is to become a teacher to help all students with academics but emotional support as well. You never know what a student is going through at home. I want to be there for students like my teachers were for me during the rough time in my life. I would want to continue as a second major in psychology so I can have some counseling background for those children as well.” Her outlook is inspiring, “Cancer has shown me how we have to celebrate everything that happens now and work through the hard times to help one another.” 


		  </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="https://s3.amazonaws.com/marnaspals-dpal/Jessica Tynon.jpg" alt="Generic placeholder image">
        </div>
      </div>

      
      
       <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Oren Vitenson
           <span class="text-danger"> Philosophy, Politics and Economics, University of Pennsylvania</span></h2>
          <p > “Cancer has affected me in deep and irreversible ways, and is immediately present in my life even today – almost six years after the death of my mother from breast cancer. In addition to the challenges and tribulations that my mother’s diagnosis, treatment, and eventual death has imposed on my personal journey and development; the biggest impact that cancer has had in my life has been on family life and the well-being of my father and sister.” Oren is a Philosophy, Politics and Economics major at the University of Pennsylvania. Oren started his college career at George Washington University in Washington DC, but decided to transfer so that he could be closer to his family that lives in NJ. 

		  “One of my goals is to become a lawyer for non-profit organizations. In this capacity, I can utilize my skills of effective communication, critical analysis, and advocacy to protect the weak from the strong and the poor from the greedy.” Oren is a great student who excels in the classroom and volunteers at organizations in the community, including a camp for students whose parents have been affected by cancer. He works hard to pay for his college education and says that the Marna Pal Memorial Scholarship will help to reduce his workload.

		  </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="https://s3.amazonaws.com/marnaspals-dpal/Oren Vitenson.JPG" alt="Generic placeholder image">
        </div>
      </div>