<footer>
	<br></br>
  <br></br>

	<div class = "container">

       <p class = "wrapper">

       	<!-- a href="/donate"> <img src= "https://s3.amazonaws.com/marnaspals-dpal/makeadonation7.jpg"> </a> -->

       </p>
	
    <br> </br>
        <p class="pull-right">

			<a href="\contactus">Contact Us</a>	
				
					&middot;

        	<a href="#">Back to top</a>

        </p>
        <p>&copy; 2016 Marna's Pals. All rights reserved. </p>
</div>
      </footer>