<footer>
	<br></br>
	<div class = "container">

       <p class = "wrapper">

       	<a class="btn btn-lg btn-primary pull-center" href="donate" role="button">Donate Now</a></p>
	
    <br> </br>
        <p class="pull-right">

			<a href="\contactus">Contact Us</a>	
				
					&middot;

        	<a href="#">Back to top</a>

        </p>
        <p>&copy; 2016 Marna's Pals. All rights reserved. </p>
</div>
      </footer>